<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sugar Control</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div>
          <img src="img/Logo1.png" alt="logo navbar" />
        </div>
        <button class="hamburger" type="button">
          <img src="img/list.svg" alt="hamburger" />
        </button>
        <ul class="nav-list">
          <li class="nav-item"><a href="index.html">Home</a></li>
          <li class="nav-item"><a href="#">DiabetesDish Matcher</a></li>
          <li class="nav-item"><a href="#">Blogs</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="DiabetesDish">
        <div class="container">
          <h1 class="text-center pt-5">DiabetesDish Matcher</h1>
          <p class="text-center mb-5 mt-5">
            Enter your blood sugar levels to receive a personalized meal plan
            tailored to your specific blood glucose needs
          </p>

          <!-- Search -->
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your blood sugar level"
              aria-label="input blood sugar level"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="button-addon2"
            >
              <img src="img/search-interface-symbol.png">
            </button>
          </div>
        </div>

        <!-- Hasil Search -->
        <div class="container pt-5">
          <div class="row">
            <div class="col">
              <p class="fw-bold">Your blood sugar : 126 mg/dL</p>
              <p class="fw-bold">Here are some recommended meal plans for your diabetes management:</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <img src="img/pexels-ash-376464.jpg" class="rounded-circle" alt="image1"></img>
            </div>
            <div class="col-10">
              <p class="fw-bold">Balanced Breakfast</p>
              <ul>
                <li>Whole-grain oats with berries and a sprinkle of chia seeds</li>
                <li>Greek yogurt with sliced almonds and a drizzle of honey</li>
                <li>Whole-grain oats with berries and a sprinkle of chia seeds</li>
                <li>Greek yogurt with sliced almonds and a drizzle of honey</li>
                <li>Whole-grain oats with berries and a sprinkle of chia seeds</li>
                <li>Greek yogurt with sliced almonds and a drizzle of honey</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <img src="img/pexels-ella-olsson-1640777.jpg" class="rounded-circle" alt="image2"></img>
            </div>
            <div class="col-10">
              <p class="fw-bold">Wholesome Lunch</p>
              <ul>
                <li>Whole-grain oats with berries and a sprinkle of chia seeds</li>
                <li>Greek yogurt with sliced almonds and a drizzle of honey</li>
                <li>Whole-grain oats with berries and a sprinkle of chia seeds</li>
                <li>Greek yogurt with sliced almonds and a drizzle of honey</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <img src="img/pexels-jane-doan-1099680.jpg" class="rounded-circle" alt="image3"></img>
            </div>
            <div class="col-10">
              <p class="fw-bold">Snack Smart</p>
              <ul>
                <li>Whole-grain oats with berries and a sprinkle of chia seeds</li>
                <li>Greek yogurt with sliced almonds and a drizzle of honey</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <img src="img/pexels-robin-stickel-70497.jpg" class="rounded-circle" alt="image4"></img>
            </div>
            <div class="col-10">
              <p class="fw-bold">Snack Smart</p>
              <ul>
                <li>Whole-grain oats with berries and a sprinkle of chia seeds</li>
                <li>Greek yogurt with sliced almonds and a drizzle of honey</li>
                <li>Whole-grain oats with berries and a sprinkle of chia seeds</li>
                <li>Greek yogurt with sliced almonds and a drizzle of honey</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="container-footer">
        <div class="name">
          <img src="img/Logo.png" alt="logo" />
        </div>
        <div class="contact">
          <ul>
            <p>Contact Us</p>
            <li>
              <i class="bi bi-telephone-fill"></i>
              <a href="">0812833533308</a>
            </li>
            <li>
              <i class="bi bi-envelope"></i>
              <a href="">harinzu47@gmail.com</a>
            </li>
          </ul>
        </div>
        <div class="social-media">
          <div><p>social media</p></div>
          <ul class="icon">
            <li><i class="bi bi-facebook"></i></li>
            <li><i class="bi bi-twitter-x"></i></li>
            <li><i class="bi bi-linkedin"></i></li>
            <li><i class="bi bi-instagram"></i></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
