<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <title>Sugar Control</title>
</head>

<body>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <i class="fa-solid fa-droplet fa-2x" style="color: #000000"></i>
            <h1>SugarControl</h1>
        </div>

        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/diabetesdish">DiabetesDish Matcher</a></li>
                <li><a href="#/blogs">Blogs</a></li>
            </ul>
        </nav>
    </header>

    <main id="mainContent"></main>

    <footer>
        <div class="container-footer">
            <div class="footer_brand">
                <i class="fa-solid fa-droplet fa-2x" style="color: #faf3dd"></i>
                <h1>SugarControl</h1>
            </div>
            <div class="contact">
                <ul>
                    <p>Contact Us</p>
                    <li>
                        <i class="bi bi-telephone-fill"></i>
                        <a href="">0812833533308</a>
                    </li>
                    <li>
                        <i class="bi bi-envelope"></i>
                        <a href="">harinzu47@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="social-media">
                <div>
                    <p>social media</p>
                </div>
                <ul class="icon">
                    <li><a href="https://www.facebook.com/profile.php?id=100069512019715" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="" target="_blank" rel="noopener noreferrer"><i class="bi bi-twitter-x"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/khalid-jundullah-8086b8249/" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/khalid.jundullah/" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a></li>
                  </ul>
                  
            </div>
        </div>
    </footer>
</body>

</html>