/* Responsive Styling */
@media screen and (min-width: 650px) {
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 16px;
    }

    .app-bar .app-bar__brand h1 {
        font-size: 1.5em;
    }

    .app-bar .app-bar__menu {
        display: none;
    }

    .app-bar .app-bar__navigation {
        position: static;
        width: 100%;
    }

    .app-bar .app-bar__navigation ul li {
        display: inline-block;
        text-decoration: none;
    }

    .app-bar .app-bar__navigation ul li a {
        display: inline-block;
        text-align: center;
        width: 120px;
        margin: 0;
        list-style-type: none;
    }

}

@media (max-width: 1024px) {
    .right-explanation {
        margin: 20px 20px 0 200px;
    }

    .left-explanation {
        margin: 0 200px 0 20px;
    }
}

@media (max-width: 1224px) {
    .right-explanation {
        margin: 20px 20px 0 300px;
    }

    .left-explanation {
        margin: 0 300px 0 20px;
    }
}

@media (max-width: 600px) {
    .hero-text h1 {
        font-size: 2rem;
    }

    .right-explanation {
        display: flex;
        align-items: center;
        margin: 20px 20px 0 20px;
    }

    .left-explanation {
        display: flex;
        align-items: center;
        margin: 0 20px 0 20px;
    }

    .container-footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .contact li,
    .social-media li {
        margin-bottom: 10px;
    }

    .social-media li i {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {

    .wrapper {
        flex-direction: column;
    }

    .blog__content {
        padding: 16px 16px;
    }

    .blog__description,
    .blog__date,
    .blog__button {
        font-size: 14px;
    }

    .all__content {
        flex-direction: column;
    }

    .blog__image {
        width: 100%;
        border-radius: 1rem;
    }
}


@media screen and (min-width: 650px) {
    .blog__content {
        margin: 0 auto;
        max-width: 650px;
    }
}


@media screen and (min-width: 900px) {
    .blog__content {
        padding: 16px 32px;
    }
}